table.fc-scrollgrid-sync-table, .fc-media-screen{
  width: 100% !important;
  height: 100% !important;
}
.fc-daygrid-day-events{
  min-height: 1em !important;
}
.fc-daygrid-body{
  width: 100% !important;
}
.fc-col-header-cell{
  font-size: 13px;
  
  border: 1px solid #01A3FF !important;

  background: #01A3FF;
  color: #FFFFFF;
}
.fc .fc-daygrid-day-frame{
  min-height: 70px !important;
}

.fc-daygrid-day{
  padding-bottom: 0px !important;
}
.fc-prev-button, .fc-next-button{
  font-size: 2em !important;
  line-height: 0.6em !important;

  padding: unset !important;

  border: none !important;

  color: #5E5E5E !important;
  background: none !important;
}

.fc-prev-button:hover, .fc-next-button:hover, .fc-prev-button:active, .fc-next-button:active{
  font-size: 2em !important;
  line-height: 0.6em !important;
  outline: none !important;

  padding: unset !important;

  border: none !important;

  color: #5E5E5E !important;
  background: none !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;

  box-shadow: inset 0 0 5px grey;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background: rgb(136, 136, 136); 
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b; 
}

.item-title{
    margin-bottom: 1px;
}

.fc-daygrid-event{
  width: 10px;
  height: 10px;

  margin-left: 84% !important;

  border-radius: 30px;
}

@media screen and (max-width:700px){
  .fc-daygrid-event{
    margin-left: 50% !important;
  }
  .fc-col-header-cell{
    font-size: 0.7em !important;
  }
}

.table-bordered td {
    border: none;
}

.fc-scroller{
  overflow: hidden !important;
}

.fc-view-harness-active{
  padding-bottom: 110% !important;
}

.fc-toolbar-title{
  font-size: 1.2em !important;
  
  color: #01A3ff !important;
}
.fc-toolbar-title::before {
  content: "\A" !important;
}

.fc .fc-scrollgrid-liquid {
  height: 450px !important;
}

.fc-day-today{
  background-color: #E1DEDE57 !important;
}

.fc-col-header {
  width: 100% !important;
}

.fc-daygrid-day-number{
  color: #5E5E5E !important;
}
